body{
   background-color: #1228A6;
   fonte: normal 15pt Arial;
}

header{
   text-align: center;
   color: #D9D059;
}

section{
   background: white;
   border-radius: 10px;
   padding: 20px;
   width: 500px;
   margin: auto;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.476);
}

footer{
    text-align: center;
    color: #D9D059;
    font: italic;
}