body{
    height: 100vh

}

label{
    font: italic bolder 1em sans-serif;

}

input#senhalog{
    border-radius: 50px;
}

h1{
    text-align: center;
}

form{
    text-align: center;
}

footer{
    text-align: center;
}

    